

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
  }
input[type=ratio]{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  table, th, td {
    border: 1px solid black;
   
  }